<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="addEmployeeForm">
    <label>
      Emp #:
      <input type="text" formControlName="empId">
      <span class="error" *ngIf="empId.errors?.pattern">Numbers only</span>
    </label>
    <label>
      First Name:
      <input type="text" formControlName="fName">
    </label>
    <label>
      Last Name:
      <input type="text" formControlName="lName">
    </label>
    <label>
      Project Name:
      <input type="text" formControlName="project">
    </label>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="add()">ADD</button>
  <button type="button" class="btn btn-secondary" (click)="cancel()">CANCEL</button>
</div>