<ng-container *ngTemplateOutlet="editMode ? edit : display"></ng-container>

<ng-template #display>
  <td *ngFor="let key of keys">
    <span>{{ empData[key] }}</span>
  </td>
  <td>
    <div>
      <button class="btn btn-primary" (click)="editClickHandler()">EDIT</button>
      <button class="btn btn-danger" (click)="deleteClickHandler(empData)">DELETE</button>
    </div>
  </td>
</ng-template>

<ng-template #edit>
  <td *ngFor="let key of keys">
    <input type="text" [(ngModel)]="selected[key]" />
  </td>
  <td>
    <div>
      <button class="btn btn-success" (click)="saveClickHandler()">SAVE</button>
      <button class="btn cancel" (click)="cancelClickHandler()">CANCEL</button>
    </div>
  </td>
</ng-template>