td {
    padding: 8px;
    border: 1px solid #dddddd;

    input {
        width: 100px;
    }
}

button {
    margin-right: 8px;
}

.cancel {
    background-color: #fd7e14;
    &:hover {
        background-color: #fb5e13;
    }
}