td {
    padding: 8px;
    border: 1px solid #dddddd;

    input {
        width: 100px;
    }
}

.edit {
    margin-right: 8px;
    background-color: #4eb5f1;
    &:hover {
        background-color: #4095c6;
    }
}

.delete {
    background-color: #dc3545;
    &:hover {
        background-color: #c82333;
    }
}


.save {
    margin-right: 8px;
    background-color: #40c655;
    &:hover {
        background-color: #31b600;
    }
}

.cancel {
    background-color: #fd7e14;
    &:hover {
        background-color: #fb5e13;
    }
}